@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
    .inter {
        font-family: "Inter", sans-serif;
    }
}

/* .pick{
    background-size: 50%;
    background-position-x: center;
    background-position-y: center;
    
}
.pick{
      width: 100%;
  height: 400px;
  background: url("image.jpg") center / cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
} */