@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
    .inter {
        font-family: "Inter", sans-serif;
    }
}

@keyframes jumpIn {
  0% {
    transform: translateY(40px) scale(0.9);
    opacity: 0;
  }
  60% {
    transform: translateY(-10px) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@layer utilities {
  .animate-jump-in {
    animation: jumpIn 0.6s ease-out forwards;
  }
}
